{% include 'grid-cta', section: section %}

{% schema %}
{
  "name": {
    "en": "Call to action grid",
    "es": "Grid llamado a la acción"
  },
  "class": "index-section",
  "settings": [
    {
      "type": "select",
      "id": "hero_size",
      "label": {
        "da": "Højde på afsnit",
        "de": "Bereichs-Höhe",
        "en": "Section height",
        "es": "Altura de la sección",
        "fi": "Osan korkeus",
        "fr": "Hauteur de la section",
        "hi": "सेक्शन की ऊंचाई",
        "it": "Altezza sezione",
        "ja": "セクションの高さ",
        "ko": "섹션 높이",
        "nb": "Høyde på del",
        "nl": "Sectiehoogte",
        "pt-BR": "Altura da seção",
        "pt-PT": "Altura da secção",
        "sv": "Sektionshöjd",
        "th": "ความสูงของส่วน",
        "zh-CN": "分区高度",
        "zh-TW": "區塊高度"
      },
      "default": "h-40vh xl:h-50vh min-h-104",
      "options": [
        {
          "label": {
            "da": "Small",
            "de": "Small",
            "en": "Small",
            "es": "Pequeño",
            "fi": "Small",
            "fr": "Small",
            "hi": "Small",
            "it": "Small",
            "ja": "Small",
            "ko": "Small",
            "nb": "Small",
            "nl": "Small",
            "pt-BR": "Small",
            "pt-PT": "Small",
            "sv": "Small",
            "th": "Small",
            "zh-CN": "Small",
            "zh-TW": "Small"
          },
          "value": "h-30vh xl:h-40vh min-h-88"
        },
        {
          "label": {
            "da": "Medium",
            "de": "Mitte",
            "en": "Medium",
            "es": "Mediana",
            "fi": "Keskisuuri",
            "fr": "Moyenne",
            "hi": "मध्यम",
            "it": "Medium",
            "ja": "中",
            "ko": "보통",
            "nb": "Middels",
            "nl": "Gemiddeld",
            "pt-BR": "Médio",
            "pt-PT": "Médio",
            "sv": "Medium",
            "th": "ปานกลาง",
            "zh-CN": "中等",
            "zh-TW": "中等"
          },
          "value": "h-40vh xl:h-50vh min-h-104"
        },
        {
          "label": {
            "da": "Stor",
            "de": "Groß",
            "en": "Large",
            "es": "Grande",
            "fi": "Suuri",
            "fr": "Grande",
            "hi": "बड़ा",
            "it": "Large",
            "ja": "大",
            "ko": "라지",
            "nb": "Stor",
            "nl": "Groot",
            "pt-BR": "Grande",
            "pt-PT": "Grande",
            "sv": "Stor",
            "th": "ใหญ่",
            "zh-CN": "大",
            "zh-TW": "大型"
          },
          "value": "h-40vh xl:h-50vh min-h-192"
        }
      ]
    },
    {
      "type": "header",
      "content": {
        "da": "Call to action left",
        "de": "Call to action left",
        "en": "Call to action left",
        "es": "Llamada a la acción izquierda",
        "fi": "Call to action left",
        "fr": "Call to action left",
        "hi": "Call to action left",
        "it": "Call to action left",
        "ja": "Call to action left",
        "ko": "Call to action left",
        "nb": "Call to action left",
        "nl": "Call to action left",
        "pt-BR": "Call to action left",
        "pt-PT": "Call to action left",
        "sv": "Call to action left",
        "th": "Call to action left",
        "zh-CN": "Call to action left",
        "zh-TW": "Call to action left"
      }
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": {
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "hi": "इमेज",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      }
    },
    {
      "type": "select",
      "id": "text_size",
      "label": {
        "da": "Tekststørrelse",
        "de": "Textgröße",
        "en": "Text size",
        "es": "Tamaño del texto",
        "fi": "Tekstin koko",
        "fr": "Taille du texte",
        "hi": "टेक्स्ट आकार",
        "it": "Dimensione testo",
        "ja": "文字サイズ",
        "ko": "텍스트 사이즈",
        "nb": "Tekststørrelse",
        "nl": "Tekengrootte",
        "pt-BR": "Tamanho do texto",
        "pt-PT": "Tamanho do texto",
        "sv": "Textstorlek",
        "th": "ขนาดตัวอักษร",
        "zh-CN": "文本大小",
        "zh-TW": "文字尺寸"
      },
      "default": "text-4xl md:text-6xl xl:text-7xl",
      "options": [
        {
          "label": {
            "da": "Small",
            "de": "Small",
            "en": "Small",
            "es": "Pequeño",
            "fi": "Small",
            "fr": "Small",
            "hi": "Small",
            "it": "Small",
            "ja": "Small",
            "ko": "Small",
            "nb": "Small",
            "nl": "Small",
            "pt-BR": "Small",
            "pt-PT": "Small",
            "sv": "Small",
            "th": "Small",
            "zh-CN": "Small",
            "zh-TW": "Small"
          },
          "value": "text-2xl md:text-4xl xl:text-5xl"
        },
        {
          "label": {
            "da": "Medium",
            "de": "Mitte",
            "en": "Medium",
            "es": "Mediano",
            "fi": "Keskisuuri",
            "fr": "Moyenne",
            "hi": "मध्यम",
            "it": "Medium",
            "ja": "中",
            "ko": "보통",
            "nb": "Middels",
            "nl": "Gemiddeld",
            "pt-BR": "Médio",
            "pt-PT": "Intermédio",
            "sv": "Medium",
            "th": "ปานกลาง",
            "zh-CN": "中等",
            "zh-TW": "中等"
          },
          "value": "text-4xl md:text-6xl xl:text-7xl"
        },
        {
          "label": {
            "da": "Stor",
            "de": "Groß",
            "en": "Large",
            "es": "Grande",
            "fi": "Suuri",
            "fr": "Grande",
            "hi": "बड़ा",
            "it": "Large",
            "ja": "大",
            "ko": "라지",
            "nb": "Stor",
            "nl": "Groot",
            "pt-BR": "Grande",
            "pt-PT": "Grande",
            "sv": "Stor",
            "th": "ใหญ่",
            "zh-CN": "大",
            "zh-TW": "大型"
          },
          "value": "text-5xl md:text-7xl xl:text-8xl"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_align",
      "label": {
          "da": "Text Align",
          "de": "Text Align",
          "en": "Text Align",
          "es": "Alineación del texto",
          "fi": "Text Align",
          "fr": "Text Align",
          "hi": "Text Align",
          "it": "Text Align",
          "ja": "Text Align",
          "ko": "Text Align",
          "nb": "Text Align",
          "nl": "Text Align",
          "pt-BR": "Text Align",
          "pt-PT": "Text Align",
          "sv": "Text Align",
          "th": "Text Align",
          "zh-CN": "Text Align",
          "zh-TW": "Text Align"
      },
      "default": "left",
      "options": [
        {
          "label": {
            "da": "Center",
            "de": "Center",
            "en": "Center",
            "es": "Centro",
            "fi": "Center",
            "fr": "Center",
            "hi": "Center",
            "it": "Center",
            "ja": "Center",
            "ko": "Center",
            "nb": "Center",
            "nl": "Center",
            "pt-BR": "Center",
            "pt-PT": "Center",
            "sv": "Center",
            "th": "Center",
            "zh-CN": "Center",
            "zh-TW": "Center"
          },
          "value": "center"
        },
        {
          "label": {
            "da": "Right",
            "de": "Right",
            "en": "Right",
            "es": "Derecha",
            "fi": "Right",
            "fr": "Right",
            "hi": "Right",
            "it": "Right",
            "ja": "Right",
            "ko": "Right",
            "nb": "Right",
            "nl": "Right",
            "pt-BR": "Right",
            "pt-PT": "Right",
            "sv": "Right",
            "th": "Right",
            "zh-CN": "Right",
            "zh-TW": "Right"
          },
          "value": "right"
        },
        {
          "label": {
            "da": "Left",
            "de": "Left",
            "en": "Left",
            "es": "Izquierda",
            "fi": "Left",
            "fr": "Left",
            "hi": "Left",
            "it": "Left",
            "ja": "Left",
            "ko": "Left",
            "nb": "Left",
            "nl": "Left",
            "pt-BR": "Left",
            "pt-PT": "Left",
            "sv": "Left",
            "th": "Left",
            "zh-CN": "Left",
            "zh-TW": "Left"
          },
          "value": "left"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_vertical_align",
      "label": {
          "da": "Vertical Align",
          "de": "Vertical Align",
          "en": "Vertical Align",
          "es": "Alineación Vertival",
          "fi": "Vertical Align",
          "fr": "Vertical Align",
          "hi": "Vertical Align",
          "it": "Vertical Align",
          "ja": "Vertical Align",
          "ko": "Vertical Align",
          "nb": "Vertical Align",
          "nl": "Vertical Align",
          "pt-BR": "Vertical Align",
          "pt-PT": "Vertical Align",
          "sv": "Vertical Align",
          "th": "Vertical Align",
          "zh-CN": "Vertical Align",
          "zh-TW": "Vertical Align"
      },
      "default": "justify-start",
      "options": [
        {
          "label": {
            "da": "Start",
            "de": "Start",
            "en": "Start",
            "es": "Inicio",
            "fi": "Start",
            "fr": "Start",
            "hi": "Start",
            "it": "Start",
            "ja": "Start",
            "ko": "Start",
            "nb": "Start",
            "nl": "Start",
            "pt-BR": "Start",
            "pt-PT": "Start",
            "sv": "Start",
            "th": "Start",
            "zh-CN": "Start",
            "zh-TW": "Start"
          },
          "value": "justify-start"
        },
        {
          "label": {
            "da": "Center",
            "de": "Center",
            "en": "Center",
            "es": "Centro",
            "fi": "Center",
            "fr": "Center",
            "hi": "Center",
            "it": "Center",
            "ja": "Center",
            "ko": "Center",
            "nb": "Center",
            "nl": "Center",
            "pt-BR": "Center",
            "pt-PT": "Center",
            "sv": "Center",
            "th": "Center",
            "zh-CN": "Center",
            "zh-TW": "Center"
          },
          "value": "justify-center"
        },
        {
          "label": {
            "da": "End",
            "de": "End",
            "en": "End",
            "es": "Final",
            "fi": "End",
            "fr": "End",
            "hi": "End",
            "it": "End",
            "ja": "End",
            "ko": "End",
            "nb": "End",
            "nl": "End",
            "pt-BR": "End",
            "pt-PT": "End",
            "sv": "End",
            "th": "End",
            "zh-CN": "End",
            "zh-TW": "End"
          },
          "value": "justify-end"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "text",
      "label": {
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "default": {
        "da": "<p>Brug tekstoverlejring til at give dine kunder indblik i dit brand. Vælg billeder og tekst, der passer til din stil og historie.</p>",
        "de": "<p>Nutzen Sie überlegten Text, um Kunden über Ihre Marke zu informieren. Wählen Sie Fotos und Text aus, die zu Ihrer Marke passen.</p>",
        "en": "<p>Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>",
        "es": "<p>Usa el texto superpuesto para darles información útil a tus clientes sobre tu marca. Selecciona imágenes y textos que se relacionen con tu estilo e historia.</p>",
        "fi": "<p>Käytä taustan päällä olevaa tekstiä, jotta asiakkaat voivat tutustua tuotemerkkisi. Valitse tyylisi ja tarinasi liittyvät kuvat ja teksti.</p>",
        "fr": "<p>Utilisez la superposition de texte pour donner un aperçu de votre marque à vos clients. Utilisez une image et du texte qui se rapportent au style et à l'histoire de votre marque.</p>",
        "hi": "<p>अपने ब्रांड में अपने ग्राहकों को जानकारी देने के लिए ओवरले टेक्स्ट का उपयोग करें. अपनी स्टाइल और कहानी से संबंधित कल्पना और पाठ का चयन करें.</p>",
        "it": "<p>Utilizza il testo in sovrapposizione per dare ai clienti informazioni sul tuo brand. Seleziona immagini e testo legati al tuo stile e alla tua storia.</p>",
        "ja": "<p>オーバーレイテキストを使用して、お客様があなたのブランドについてよく理解できるようにします。あなたのスタイルやストーリーに関連する画像やテキストを選択してください。</p>",
        "ko": "<p>오버레이 텍스트를 사용하여 고객에게 브랜드에 대한 통찰력을 부여하십시오. 자신의 스타일과 이야기와 관련된 이미지와 텍스트를 선택하십시오.</p>",
        "nb": "<p>Bruk overleggstekst til å gi kundene dine innsikt i merkevaren din. Velg bildebruk og tekst som er relatert til din stil og historie.</p>",
        "nl": "<p>Gebruik overlay-tekst om uw klanten inzicht te geven in uw merk. Selecteer afbeeldingen en tekst die betrekking hebben op uw stijl en verhaal.</p>",
        "pt-BR": "<p>Use o texto de sobreposição para apresentar insights sobre sua marca aos clientes. Selecione imagens e textos que reflitam seu estilo e sua história.</p>",
        "pt-PT": "<p>Utilize o texto de sobreposição para fornecer informações sobre a sua marca aos clientes. Selecione imagens e textos que reflitam o seu estilo e a sua história.</p>",
        "sv": "<p>Använd överläggningstext för att ge dina kunder inblick i ditt varumärke. Välj bildspråk och text som gäller din stil och historia.</p>",
        "th": "<p>ใช้ข้อความซ้อนทับเพื่อให้ลูกค้าของคุณทราบถึงรายละเอียดเกี่ยวกับแบรนด์ เลือกรูปภาพและข้อความที่มีความเกี่ยวข้องกับสไตล์กับเรื่องราวของคุณ</p>",
        "zh-CN": "<p>使用叠加文本让客户深入了解您的品牌。选择与您的风格和故事相关的图片和文本。</p>",
        "zh-TW": "<p>運用文字疊加讓顧客更加瞭解您的品牌。選擇與您風格和品牌故事相關的圖像和文字。</p>"
      }
    },
    {
      "type": "select",
      "id": "subtitle_size",
      "label": {
        "da": "Tekststørrelse",
        "de": "Textgröße",
        "en": "Subtitle size",
        "es": "Tamaño del subtitulo",
        "fi": "Tekstin koko",
        "fr": "Taille du texte",
        "hi": "टेक्स्ट आकार",
        "it": "Dimensione testo",
        "ja": "文字サイズ",
        "ko": "텍스트 사이즈",
        "nb": "Tekststørrelse",
        "nl": "Tekengrootte",
        "pt-BR": "Tamanho do texto",
        "pt-PT": "Tamanho do texto",
        "sv": "Textstorlek",
        "th": "ขนาดตัวอักษร",
        "zh-CN": "文本大小",
        "zh-TW": "文字尺寸"
      },
      "default": "text-4xl md:text-6xl xl:text-7xl",
      "options": [
        {
          "label": {
            "da": "Small",
            "de": "Small",
            "en": "Small",
            "es": "Pequeño",
            "fi": "Small",
            "fr": "Small",
            "hi": "Small",
            "it": "Small",
            "ja": "Small",
            "ko": "Small",
            "nb": "Small",
            "nl": "Small",
            "pt-BR": "Small",
            "pt-PT": "Small",
            "sv": "Small",
            "th": "Small",
            "zh-CN": "Small",
            "zh-TW": "Small"
          },
          "value": "text-lg md:text-xl xl:text-2xl"
        },
        {
          "label": {
            "da": "Medium",
            "de": "Mitte",
            "en": "Medium",
            "es": "Mediano",
            "fi": "Keskisuuri",
            "fr": "Moyenne",
            "hi": "मध्यम",
            "it": "Medium",
            "ja": "中",
            "ko": "보통",
            "nb": "Middels",
            "nl": "Gemiddeld",
            "pt-BR": "Médio",
            "pt-PT": "Intermédio",
            "sv": "Medium",
            "th": "ปานกลาง",
            "zh-CN": "中等",
            "zh-TW": "中等"
          },
          "value": "text-3xl md:text-4xl xl:text-6xl"
        },
        {
          "label": {
            "da": "Stor",
            "de": "Groß",
            "en": "Large",
            "es": "Grande",
            "fi": "Suuri",
            "fr": "Grande",
            "hi": "बड़ा",
            "it": "Large",
            "ja": "大",
            "ko": "라지",
            "nb": "Stor",
            "nl": "Groot",
            "pt-BR": "Grande",
            "pt-PT": "Grande",
            "sv": "Stor",
            "th": "ใหญ่",
            "zh-CN": "大",
            "zh-TW": "大型"
          },
          "value": "text-4xl md:text-6xl xl:text-7xl"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "sub_text",
      "label": {
        "da": "Tekst",
        "de": "Text",
        "en": "Subtitle",
        "es": "Subtitulo",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "default": {
        "da": "<p>Brug tekstoverlejring til at give dine kunder indblik i dit brand. Vælg billeder og tekst, der passer til din stil og historie.</p>",
        "de": "<p>Nutzen Sie überlegten Text, um Kunden über Ihre Marke zu informieren. Wählen Sie Fotos und Text aus, die zu Ihrer Marke passen.</p>",
        "en": "<p>Subtitle.</p>",
        "es": "<p>Subtitulo</p>",
        "fi": "<p>Käytä taustan päällä olevaa tekstiä, jotta asiakkaat voivat tutustua tuotemerkkisi. Valitse tyylisi ja tarinasi liittyvät kuvat ja teksti.</p>",
        "fr": "<p>Utilisez la superposition de texte pour donner un aperçu de votre marque à vos clients. Utilisez une image et du texte qui se rapportent au style et à l'histoire de votre marque.</p>",
        "hi": "<p>अपने ब्रांड में अपने ग्राहकों को जानकारी देने के लिए ओवरले टेक्स्ट का उपयोग करें. अपनी स्टाइल और कहानी से संबंधित कल्पना और पाठ का चयन करें.</p>",
        "it": "<p>Utilizza il testo in sovrapposizione per dare ai clienti informazioni sul tuo brand. Seleziona immagini e testo legati al tuo stile e alla tua storia.</p>",
        "ja": "<p>オーバーレイテキストを使用して、お客様があなたのブランドについてよく理解できるようにします。あなたのスタイルやストーリーに関連する画像やテキストを選択してください。</p>",
        "ko": "<p>오버레이 텍스트를 사용하여 고객에게 브랜드에 대한 통찰력을 부여하십시오. 자신의 스타일과 이야기와 관련된 이미지와 텍스트를 선택하십시오.</p>",
        "nb": "<p>Bruk overleggstekst til å gi kundene dine innsikt i merkevaren din. Velg bildebruk og tekst som er relatert til din stil og historie.</p>",
        "nl": "<p>Gebruik overlay-tekst om uw klanten inzicht te geven in uw merk. Selecteer afbeeldingen en tekst die betrekking hebben op uw stijl en verhaal.</p>",
        "pt-BR": "<p>Use o texto de sobreposição para apresentar insights sobre sua marca aos clientes. Selecione imagens e textos que reflitam seu estilo e sua história.</p>",
        "pt-PT": "<p>Utilize o texto de sobreposição para fornecer informações sobre a sua marca aos clientes. Selecione imagens e textos que reflitam o seu estilo e a sua história.</p>",
        "sv": "<p>Använd överläggningstext för att ge dina kunder inblick i ditt varumärke. Välj bildspråk och text som gäller din stil och historia.</p>",
        "th": "<p>ใช้ข้อความซ้อนทับเพื่อให้ลูกค้าของคุณทราบถึงรายละเอียดเกี่ยวกับแบรนด์ เลือกรูปภาพและข้อความที่มีความเกี่ยวข้องกับสไตล์กับเรื่องราวของคุณ</p>",
        "zh-CN": "<p>使用叠加文本让客户深入了解您的品牌。选择与您的风格和故事相关的图片和文本。</p>",
        "zh-TW": "<p>運用文字疊加讓顧客更加瞭解您的品牌。選擇與您風格和品牌故事相關的圖像和文字。</p>"
      }
    },
    {
      "type": "text",
      "id": "button_label",
      "label": {
        "da": "Knaptekst",
        "de": "Button-Etikett",
        "en": "Button label",
        "es": "Etiqueta de botón",
        "fi": "Tekstipainike",
        "fr": "Texte du bouton",
        "hi": "बटन लेबल",
        "it": "Etichetta pulsante",
        "ja": "ボタンのラベル",
        "ko": "버튼 레이블",
        "nb": "Knappetikett",
        "nl": "Knoplabel",
        "pt-BR": "Etiqueta de botão",
        "pt-PT": "Etiqueta do botão",
        "sv": "Knappetikett",
        "th": "ป้ายกำกับปุ่ม",
        "zh-CN": "按钮标签",
        "zh-TW": "按鈕標籤"
      }
    },
    {
      "type": "url",
      "id": "button_link",
      "label": {
        "da": "Knaplink",
        "de": "Button-Etikett",
        "en": "Button link",
        "es": "Enlace de botón",
        "fi": "Painikelinkki",
        "fr": "Lien du bouton",
        "hi": "बटन लिंक",
        "it": "Link pulsante",
        "ja": "ボタンのリンク",
        "ko": "버튼 링크",
        "nb": "Kobling for knapp",
        "nl": "Knoplink",
        "pt-BR": "Link de botão",
        "pt-PT": "Ligação do botão",
        "sv": "Knapplänk",
        "th": "ลิงก์ปุ่ม",
        "zh-CN": "按钮链接",
        "zh-TW": "按鈕連結"
      }
    },
    {
      "type": "color",
      "id": "color_text",
      "label": {
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "color_subtitle",
      "label": {
        "da": "Tekst",
        "de": "Text",
        "en": "Subtitle color",
        "es": "Subtitulo color",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": {
        "da": "Call to action right",
        "de": "Call to action right",
        "en": "Call to action right",
        "es": "Llamada a la acción derecha",
        "fi": "Call to action right",
        "fr": "Call to action right",
        "hi": "Call to action right",
        "it": "Call to action right",
        "ja": "Call to action right",
        "ko": "Call to action right",
        "nb": "Call to action right",
        "nl": "Call to action right",
        "pt-BR": "Call to action right",
        "pt-PT": "Call to action right",
        "sv": "Call to action right",
        "th": "Call to action right",
        "zh-CN": "Call to action right",
        "zh-TW": "Call to action right"
      }
    },
    {
      "type": "image_picker",
      "id": "image_right",
      "label": {
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "hi": "इमेज",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      }
    },
    {
      "type": "select",
      "id": "text_size_right",
      "label": {
        "da": "Tekststørrelse",
        "de": "Textgröße",
        "en": "Text size",
        "es": "Tamaño del texto",
        "fi": "Tekstin koko",
        "fr": "Taille du texte",
        "hi": "टेक्स्ट आकार",
        "it": "Dimensione testo",
        "ja": "文字サイズ",
        "ko": "텍스트 사이즈",
        "nb": "Tekststørrelse",
        "nl": "Tekengrootte",
        "pt-BR": "Tamanho do texto",
        "pt-PT": "Tamanho do texto",
        "sv": "Textstorlek",
        "th": "ขนาดตัวอักษร",
        "zh-CN": "文本大小",
        "zh-TW": "文字尺寸"
      },
      "default": "text-lg md:text-xl xl:text-2xl font-recoleta",
      "options": [
        {
          "label": {
            "da": "Small",
            "de": "Small",
            "en": "Small",
            "es": "Pequeño",
            "fi": "Small",
            "fr": "Small",
            "hi": "Small",
            "it": "Small",
            "ja": "Small",
            "ko": "Small",
            "nb": "Small",
            "nl": "Small",
            "pt-BR": "Small",
            "pt-PT": "Small",
            "sv": "Small",
            "th": "Small",
            "zh-CN": "Small",
            "zh-TW": "Small"
          },
          "value": "text-lg md:text-xl xl:text-2xl font-recoleta"
        },
        {
          "label": {
            "da": "Medium",
            "de": "Mitte",
            "en": "Medium",
            "es": "Mediano",
            "fi": "Keskisuuri",
            "fr": "Moyenne",
            "hi": "मध्यम",
            "it": "Medium",
            "ja": "中",
            "ko": "보통",
            "nb": "Middels",
            "nl": "Gemiddeld",
            "pt-BR": "Médio",
            "pt-PT": "Intermédio",
            "sv": "Medium",
            "th": "ปานกลาง",
            "zh-CN": "中等",
            "zh-TW": "中等"
          },
          "value": "text-xl md:text-2xl xl:text-4xl"
        },
        {
          "label": {
            "da": "Stor",
            "de": "Groß",
            "en": "Large",
            "es": "Grande",
            "fi": "Suuri",
            "fr": "Grande",
            "hi": "बड़ा",
            "it": "Large",
            "ja": "大",
            "ko": "라지",
            "nb": "Stor",
            "nl": "Groot",
            "pt-BR": "Grande",
            "pt-PT": "Grande",
            "sv": "Stor",
            "th": "ใหญ่",
            "zh-CN": "大",
            "zh-TW": "大型"
          },
          "value": "text-xl md:text-3xl xl:text-6xl"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_align_right",
      "label": {
          "da": "Text Align",
          "de": "Text Align",
          "en": "Text Align",
          "es": "Alineación del texto",
          "fi": "Text Align",
          "fr": "Text Align",
          "hi": "Text Align",
          "it": "Text Align",
          "ja": "Text Align",
          "ko": "Text Align",
          "nb": "Text Align",
          "nl": "Text Align",
          "pt-BR": "Text Align",
          "pt-PT": "Text Align",
          "sv": "Text Align",
          "th": "Text Align",
          "zh-CN": "Text Align",
          "zh-TW": "Text Align"
      },
      "default": "left",
      "options": [
        {
          "label": {
            "da": "Center",
            "de": "Center",
            "en": "Center",
            "es": "Centro",
            "fi": "Center",
            "fr": "Center",
            "hi": "Center",
            "it": "Center",
            "ja": "Center",
            "ko": "Center",
            "nb": "Center",
            "nl": "Center",
            "pt-BR": "Center",
            "pt-PT": "Center",
            "sv": "Center",
            "th": "Center",
            "zh-CN": "Center",
            "zh-TW": "Center"
          },
          "value": "center"
        },
        {
          "label": {
            "da": "Right",
            "de": "Right",
            "en": "Right",
            "es": "Derecha",
            "fi": "Right",
            "fr": "Right",
            "hi": "Right",
            "it": "Right",
            "ja": "Right",
            "ko": "Right",
            "nb": "Right",
            "nl": "Right",
            "pt-BR": "Right",
            "pt-PT": "Right",
            "sv": "Right",
            "th": "Right",
            "zh-CN": "Right",
            "zh-TW": "Right"
          },
          "value": "right"
        },
        {
          "label": {
            "da": "Left",
            "de": "Left",
            "en": "Left",
            "es": "Izquierda",
            "fi": "Left",
            "fr": "Left",
            "hi": "Left",
            "it": "Left",
            "ja": "Left",
            "ko": "Left",
            "nb": "Left",
            "nl": "Left",
            "pt-BR": "Left",
            "pt-PT": "Left",
            "sv": "Left",
            "th": "Left",
            "zh-CN": "Left",
            "zh-TW": "Left"
          },
          "value": "left"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_vertical_align_right",
      "label": {
          "da": "Vertical Align",
          "de": "Vertical Align",
          "en": "Vertical Align",
          "es": "Alineación Vertival",
          "fi": "Vertical Align",
          "fr": "Vertical Align",
          "hi": "Vertical Align",
          "it": "Vertical Align",
          "ja": "Vertical Align",
          "ko": "Vertical Align",
          "nb": "Vertical Align",
          "nl": "Vertical Align",
          "pt-BR": "Vertical Align",
          "pt-PT": "Vertical Align",
          "sv": "Vertical Align",
          "th": "Vertical Align",
          "zh-CN": "Vertical Align",
          "zh-TW": "Vertical Align"
      },
      "default": "justify-start",
      "options": [
        {
          "label": {
            "da": "Start",
            "de": "Start",
            "en": "Start",
            "es": "Inicio",
            "fi": "Start",
            "fr": "Start",
            "hi": "Start",
            "it": "Start",
            "ja": "Start",
            "ko": "Start",
            "nb": "Start",
            "nl": "Start",
            "pt-BR": "Start",
            "pt-PT": "Start",
            "sv": "Start",
            "th": "Start",
            "zh-CN": "Start",
            "zh-TW": "Start"
          },
          "value": "justify-start"
        },
        {
          "label": {
            "da": "Center",
            "de": "Center",
            "en": "Center",
            "es": "Centro",
            "fi": "Center",
            "fr": "Center",
            "hi": "Center",
            "it": "Center",
            "ja": "Center",
            "ko": "Center",
            "nb": "Center",
            "nl": "Center",
            "pt-BR": "Center",
            "pt-PT": "Center",
            "sv": "Center",
            "th": "Center",
            "zh-CN": "Center",
            "zh-TW": "Center"
          },
          "value": "justify-center"
        },
        {
          "label": {
            "da": "End",
            "de": "End",
            "en": "End",
            "es": "Final",
            "fi": "End",
            "fr": "End",
            "hi": "End",
            "it": "End",
            "ja": "End",
            "ko": "End",
            "nb": "End",
            "nl": "End",
            "pt-BR": "End",
            "pt-PT": "End",
            "sv": "End",
            "th": "End",
            "zh-CN": "End",
            "zh-TW": "End"
          },
          "value": "justify-end"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "text_right",
      "label": {
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "default": {
        "da": "<p>Brug tekstoverlejring til at give dine kunder indblik i dit brand. Vælg billeder og tekst, der passer til din stil og historie.</p>",
        "de": "<p>Nutzen Sie überlegten Text, um Kunden über Ihre Marke zu informieren. Wählen Sie Fotos und Text aus, die zu Ihrer Marke passen.</p>",
        "en": "<p>Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>",
        "es": "<p>Usa el texto superpuesto para darles información útil a tus clientes sobre tu marca. Selecciona imágenes y textos que se relacionen con tu estilo e historia.</p>",
        "fi": "<p>Käytä taustan päällä olevaa tekstiä, jotta asiakkaat voivat tutustua tuotemerkkisi. Valitse tyylisi ja tarinasi liittyvät kuvat ja teksti.</p>",
        "fr": "<p>Utilisez la superposition de texte pour donner un aperçu de votre marque à vos clients. Utilisez une image et du texte qui se rapportent au style et à l'histoire de votre marque.</p>",
        "hi": "<p>अपने ब्रांड में अपने ग्राहकों को जानकारी देने के लिए ओवरले टेक्स्ट का उपयोग करें. अपनी स्टाइल और कहानी से संबंधित कल्पना और पाठ का चयन करें.</p>",
        "it": "<p>Utilizza il testo in sovrapposizione per dare ai clienti informazioni sul tuo brand. Seleziona immagini e testo legati al tuo stile e alla tua storia.</p>",
        "ja": "<p>オーバーレイテキストを使用して、お客様があなたのブランドについてよく理解できるようにします。あなたのスタイルやストーリーに関連する画像やテキストを選択してください。</p>",
        "ko": "<p>오버레이 텍스트를 사용하여 고객에게 브랜드에 대한 통찰력을 부여하십시오. 자신의 스타일과 이야기와 관련된 이미지와 텍스트를 선택하십시오.</p>",
        "nb": "<p>Bruk overleggstekst til å gi kundene dine innsikt i merkevaren din. Velg bildebruk og tekst som er relatert til din stil og historie.</p>",
        "nl": "<p>Gebruik overlay-tekst om uw klanten inzicht te geven in uw merk. Selecteer afbeeldingen en tekst die betrekking hebben op uw stijl en verhaal.</p>",
        "pt-BR": "<p>Use o texto de sobreposição para apresentar insights sobre sua marca aos clientes. Selecione imagens e textos que reflitam seu estilo e sua história.</p>",
        "pt-PT": "<p>Utilize o texto de sobreposição para fornecer informações sobre a sua marca aos clientes. Selecione imagens e textos que reflitam o seu estilo e a sua história.</p>",
        "sv": "<p>Använd överläggningstext för att ge dina kunder inblick i ditt varumärke. Välj bildspråk och text som gäller din stil och historia.</p>",
        "th": "<p>ใช้ข้อความซ้อนทับเพื่อให้ลูกค้าของคุณทราบถึงรายละเอียดเกี่ยวกับแบรนด์ เลือกรูปภาพและข้อความที่มีความเกี่ยวข้องกับสไตล์กับเรื่องราวของคุณ</p>",
        "zh-CN": "<p>使用叠加文本让客户深入了解您的品牌。选择与您的风格和故事相关的图片和文本。</p>",
        "zh-TW": "<p>運用文字疊加讓顧客更加瞭解您的品牌。選擇與您風格和品牌故事相關的圖像和文字。</p>"
      }
    },
    {
      "type": "select",
      "id": "subtitle_size_right",
      "label": {
        "da": "Tekststørrelse",
        "de": "Textgröße",
        "en": "Subtitle size",
        "es": "Tamaño del subtitulo",
        "fi": "Tekstin koko",
        "fr": "Taille du texte",
        "hi": "टेक्स्ट आकार",
        "it": "Dimensione testo",
        "ja": "文字サイズ",
        "ko": "텍스트 사이즈",
        "nb": "Tekststørrelse",
        "nl": "Tekengrootte",
        "pt-BR": "Tamanho do texto",
        "pt-PT": "Tamanho do texto",
        "sv": "Textstorlek",
        "th": "ขนาดตัวอักษร",
        "zh-CN": "文本大小",
        "zh-TW": "文字尺寸"
      },
      "default": "text-lg md:text-xl xl:text-2xl",
      "options": [
        {
          "label": {
            "da": "Small",
            "de": "Small",
            "en": "Small",
            "es": "Pequeño",
            "fi": "Small",
            "fr": "Small",
            "hi": "Small",
            "it": "Small",
            "ja": "Small",
            "ko": "Small",
            "nb": "Small",
            "nl": "Small",
            "pt-BR": "Small",
            "pt-PT": "Small",
            "sv": "Small",
            "th": "Small",
            "zh-CN": "Small",
            "zh-TW": "Small"
          },
          "value": "text-lg md:text-xl xl:text-2xl"
        },
        {
          "label": {
            "da": "Medium",
            "de": "Mitte",
            "en": "Medium",
            "es": "Mediano",
            "fi": "Keskisuuri",
            "fr": "Moyenne",
            "hi": "मध्यम",
            "it": "Medium",
            "ja": "中",
            "ko": "보통",
            "nb": "Middels",
            "nl": "Gemiddeld",
            "pt-BR": "Médio",
            "pt-PT": "Intermédio",
            "sv": "Medium",
            "th": "ปานกลาง",
            "zh-CN": "中等",
            "zh-TW": "中等"
          },
          "value": "text-2xl md:text-4xl xl:text-5xl"
        },
        {
          "label": {
            "da": "Stor",
            "de": "Groß",
            "en": "Large",
            "es": "Grande",
            "fi": "Suuri",
            "fr": "Grande",
            "hi": "बड़ा",
            "it": "Large",
            "ja": "大",
            "ko": "라지",
            "nb": "Stor",
            "nl": "Groot",
            "pt-BR": "Grande",
            "pt-PT": "Grande",
            "sv": "Stor",
            "th": "ใหญ่",
            "zh-CN": "大",
            "zh-TW": "大型"
          },
          "value": "text-4xl md:text-6xl xl:text-7xl"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "sub_text_right",
      "label": {
        "da": "Tekst",
        "de": "Text",
        "en": "Subtitle",
        "es": "Subtitulo",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "default": {
        "da": "<p>Brug tekstoverlejring til at give dine kunder indblik i dit brand. Vælg billeder og tekst, der passer til din stil og historie.</p>",
        "de": "<p>Nutzen Sie überlegten Text, um Kunden über Ihre Marke zu informieren. Wählen Sie Fotos und Text aus, die zu Ihrer Marke passen.</p>",
        "en": "<p>Subtitle.</p>",
        "es": "<p>Subtitulo</p>",
        "fi": "<p>Käytä taustan päällä olevaa tekstiä, jotta asiakkaat voivat tutustua tuotemerkkisi. Valitse tyylisi ja tarinasi liittyvät kuvat ja teksti.</p>",
        "fr": "<p>Utilisez la superposition de texte pour donner un aperçu de votre marque à vos clients. Utilisez une image et du texte qui se rapportent au style et à l'histoire de votre marque.</p>",
        "hi": "<p>अपने ब्रांड में अपने ग्राहकों को जानकारी देने के लिए ओवरले टेक्स्ट का उपयोग करें. अपनी स्टाइल और कहानी से संबंधित कल्पना और पाठ का चयन करें.</p>",
        "it": "<p>Utilizza il testo in sovrapposizione per dare ai clienti informazioni sul tuo brand. Seleziona immagini e testo legati al tuo stile e alla tua storia.</p>",
        "ja": "<p>オーバーレイテキストを使用して、お客様があなたのブランドについてよく理解できるようにします。あなたのスタイルやストーリーに関連する画像やテキストを選択してください。</p>",
        "ko": "<p>오버레이 텍스트를 사용하여 고객에게 브랜드에 대한 통찰력을 부여하십시오. 자신의 스타일과 이야기와 관련된 이미지와 텍스트를 선택하십시오.</p>",
        "nb": "<p>Bruk overleggstekst til å gi kundene dine innsikt i merkevaren din. Velg bildebruk og tekst som er relatert til din stil og historie.</p>",
        "nl": "<p>Gebruik overlay-tekst om uw klanten inzicht te geven in uw merk. Selecteer afbeeldingen en tekst die betrekking hebben op uw stijl en verhaal.</p>",
        "pt-BR": "<p>Use o texto de sobreposição para apresentar insights sobre sua marca aos clientes. Selecione imagens e textos que reflitam seu estilo e sua história.</p>",
        "pt-PT": "<p>Utilize o texto de sobreposição para fornecer informações sobre a sua marca aos clientes. Selecione imagens e textos que reflitam o seu estilo e a sua história.</p>",
        "sv": "<p>Använd överläggningstext för att ge dina kunder inblick i ditt varumärke. Välj bildspråk och text som gäller din stil och historia.</p>",
        "th": "<p>ใช้ข้อความซ้อนทับเพื่อให้ลูกค้าของคุณทราบถึงรายละเอียดเกี่ยวกับแบรนด์ เลือกรูปภาพและข้อความที่มีความเกี่ยวข้องกับสไตล์กับเรื่องราวของคุณ</p>",
        "zh-CN": "<p>使用叠加文本让客户深入了解您的品牌。选择与您的风格和故事相关的图片和文本。</p>",
        "zh-TW": "<p>運用文字疊加讓顧客更加瞭解您的品牌。選擇與您風格和品牌故事相關的圖像和文字。</p>"
      }
    },
    {
      "type": "text",
      "id": "button_label_right",
      "label": {
        "da": "Knaptekst",
        "de": "Button-Etikett",
        "en": "Button label",
        "es": "Etiqueta de botón",
        "fi": "Tekstipainike",
        "fr": "Texte du bouton",
        "hi": "बटन लेबल",
        "it": "Etichetta pulsante",
        "ja": "ボタンのラベル",
        "ko": "버튼 레이블",
        "nb": "Knappetikett",
        "nl": "Knoplabel",
        "pt-BR": "Etiqueta de botão",
        "pt-PT": "Etiqueta do botão",
        "sv": "Knappetikett",
        "th": "ป้ายกำกับปุ่ม",
        "zh-CN": "按钮标签",
        "zh-TW": "按鈕標籤"
      }
    },
    {
      "type": "url",
      "id": "button_link_right",
      "label": {
        "da": "Knaplink",
        "de": "Button-Etikett",
        "en": "Button link",
        "es": "Enlace de botón",
        "fi": "Painikelinkki",
        "fr": "Lien du bouton",
        "hi": "बटन लिंक",
        "it": "Link pulsante",
        "ja": "ボタンのリンク",
        "ko": "버튼 링크",
        "nb": "Kobling for knapp",
        "nl": "Knoplink",
        "pt-BR": "Link de botão",
        "pt-PT": "Ligação do botão",
        "sv": "Knapplänk",
        "th": "ลิงก์ปุ่ม",
        "zh-CN": "按钮链接",
        "zh-TW": "按鈕連結"
      }
    },
    {
      "type": "select",
      "id": "button_align_right",
      "label": {
          "da": "Button Align",
          "de": "Button Align",
          "en": "Button Align",
          "es": "Alineación del botón",
          "fi": "Button Align",
          "fr": "Button Align",
          "hi": "Button Align",
          "it": "Button Align",
          "ja": "Button Align",
          "ko": "Button Align",
          "nb": "Button Align",
          "nl": "Button Align",
          "pt-BR": "Button Align",
          "pt-PT": "Button Align",
          "sv": "Button Align",
          "th": "Button Align",
          "zh-CN": "Button Align",
          "zh-TW": "Button Align"
      },
      "default": "justify-start",
      "options": [
        {
          "label": {
            "da": "Center",
            "de": "Center",
            "en": "Center",
            "es": "Centro",
            "fi": "Center",
            "fr": "Center",
            "hi": "Center",
            "it": "Center",
            "ja": "Center",
            "ko": "Center",
            "nb": "Center",
            "nl": "Center",
            "pt-BR": "Center",
            "pt-PT": "Center",
            "sv": "Center",
            "th": "Center",
            "zh-CN": "Center",
            "zh-TW": "Center"
          },
          "value": "justify-center"
        },
        {
          "label": {
            "da": "Right",
            "de": "Right",
            "en": "Right",
            "es": "Derecha",
            "fi": "Right",
            "fr": "Right",
            "hi": "Right",
            "it": "Right",
            "ja": "Right",
            "ko": "Right",
            "nb": "Right",
            "nl": "Right",
            "pt-BR": "Right",
            "pt-PT": "Right",
            "sv": "Right",
            "th": "Right",
            "zh-CN": "Right",
            "zh-TW": "Right"
          },
          "value": "justify-end mt-8 xl:mt-14"
        },
        {
          "label": {
            "da": "Left",
            "de": "Left",
            "en": "Left",
            "es": "Izquierda",
            "fi": "Left",
            "fr": "Left",
            "hi": "Left",
            "it": "Left",
            "ja": "Left",
            "ko": "Left",
            "nb": "Left",
            "nl": "Left",
            "pt-BR": "Left",
            "pt-PT": "Left",
            "sv": "Left",
            "th": "Left",
            "zh-CN": "Left",
            "zh-TW": "Left"
          },
          "value": "justify-start"
        }
      ]
    },
    {
      "type": "color",
      "id": "color_text_right",
      "label": {
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "default": "#ffffff"
    }
  ],
  "presets": [
    {
      "name": {
        "da": "Billede med tekstoverlejring",
        "de": "Foto mit überlegtem Text",
        "en": "Call to action grid",
        "es": "Grid llamado a la acción",
        "fi": "Kuva päällä olevalla tekstillä",
        "fr": "Image avec calque texte",
        "hi": "पाठ ओवरले के साथ इमेज",
        "it": "Immagine con testo",
        "ja": "テキストオーバーレイ付き画像",
        "ko": "텍스트 오버레이 포함 이미지",
        "nb": "Bilde med tekstoverlegg",
        "nl": "Foto met tekstoverlay",
        "pt-BR": "Imagem com sobreposição de texto",
        "pt-PT": "Imagem com sobreposição de texto",
        "sv": "Bild med textöverlagring",
        "th": "การวางซ้อนรูปภาพพร้อมข้อความ",
        "zh-CN": "带文本叠加的图片",
        "zh-TW": "附文字疊加的圖片"
      },
      "category": {
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "hi": "इमेज",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      }
    }
  ]
}
{% endschema %}
