<section>
    <div class="relative 4xl:container bg-white">
        <div class="h-96 sm:h-192 lg:h-200 {% if section.settings.theme %} xl:h-264 {% else %} xl:h-196 {% endif %} pb-12"> 
            <div class="bg-no-repeat bg-cover w-full h-full" style="background-position: 90% 20%; background-image: url({{ section.settings.image | image_url: width: auto }});"></div>
            <div class="absolute inset-0">
                <div class="relative w-full h-full flex flex-col justify-end px-6 sm:pl-12 md:pl-24 xl:pl-48 3xl:pl-77">
                    <div class="absolute inset-0 bg-page-header 2xl:bg-[length:100%]"></div>
                    <div class="text-white z-10 py-32">
                        <h1 class="text-5xl md:text-7xl xl:text-20 mb-6 xl:mb-10 leading-none font-bold">
                            {{ section.settings.title }}
                        </h1>
                        <h4 class="text-xl md:text-2xl lg:text-3xl xl:text-32 font-bold font-aeonik">{{ section.settings.subtitle }}</h4>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
{% schema %}
  {
    "name": "Page header",
    "settings": [
        {
            "type": "richtext",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Background image"
        },
        {
            "type": "checkbox",
            "id": "theme",
            "label": "Large"
        }

    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
