<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": {
    "da": "Content",
    "de": "Content",
    "en": "Content",
    "es": "Contenido",
    "fi": "Content",
    "fr": "Content",
    "hi": "Content",
    "it": "Content",
    "ja": "Content",
    "ko": "Content",
    "nb": "Content",
    "nl": "Content",
    "pt-BR": "Content",
    "pt-PT": "Content",
    "sv": "Content",
    "th": "Content",
    "zh-CN": "Content",
    "zh-TW": "Content"
  },
  "class": "page-section",
  "presets": [
    {
      "name": {
        "da": "Content",
        "de": "Content",
        "en": "Content",
        "es": "Contenido",
        "fi": "Content",
        "fr": "Content",
        "hi": "Content",
        "it": "Content",
        "ja": "Content",
        "ko": "Content",
        "nb": "Content",
        "nl": "Content",
        "pt-BR": "Content",
        "pt-PT": "Content",
        "sv": "Content",
        "th": "Content",
        "zh-CN": "Content",
        "zh-TW": "Content"
      },
      "category": {
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "zh-CN": "文本",
        "zh-TW": "文字"
      }
    }
  ]
}
{% endschema %}
