<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth pl-0">
      <span class="hidden mt-8 md:mt-0 pt-5 md:pt-20 pb-4 border-b-2 border-blue-1 rte text-blue-1 items-start pl-4 font-aeonik page_content uppercase py-5 md:py-10 mb-5 xl:mb-7 text-xl xl:text-2xl font-semibold mb-0"></span>
      <div class="rte text-blue-1 font-aeonik page_content">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": {
    "en": "Page content",
    "es": "Contenid"
  },
  "class": "index-section index-section--flush",
  "settings": [
  ]
}
{% endschema %}
