<div class="4xl:container px-10 md:px-20">
  <header class="section-header font-loto">
    <h1 class="font-bold text-4xl md:text-6xl xl:text-7xl text-green">{{ section.settings.title }}</h1>
    <h5 class="font-bold text-xl lg:text-4xl text-green mt-5 lg:mt-8">{{ section.settings.subtitle }}</h5>
  </header>
</div>

{% schema %}
{
  "name": "Simple header",
  "settings": [
     {
      "type": "richtext",
      "id": "title",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Header",
        "es": "Encabezado",
        "fi": "Ylätunniste",
        "fr": "En-tête",
        "hi": "हैडर",
        "it": "Header",
        "ja": "ヘッダー",
        "ko": "머리글",
        "nb": "Header",
        "nl": "Koptekst",
        "pt-BR": "Cabeçalho",
        "pt-PT": "Cabeçalho",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "zh-CN": "标头",
        "zh-TW": "標頭"
      },
      "default": {
        "da": "<p>Overskrift</p>",
        "de": "<p>Titel</p>",
        "en": "<p>Header</p>",
        "es": "<p>Encabezado</p>",
        "fi": "<p>Ylätunniste</p>",
        "fr": "<p>En-tête</p>",
        "hi": "<p>हैडर</p>",
        "it": "<p>Header</p>",
        "ja": "<p>ヘッダー</p>",
        "ko": "<p>머리글</p>",
        "nb": "<p>Header</p>",
        "nl": "<p>Koptekst</p>",
        "pt-BR": "<p>Cabeçalho</p>",
        "pt-PT": "<p>Cabeçalho</p>",
        "sv": "<p>Rubrik</p>",
        "th": "<p>ส่วนหัว</p>",
        "zh-CN": "<p>标头</p>",
        "zh-TW": "<p>標頭</p>"
      }
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Subheader",
        "es": "Subtítulo",
        "fi": "Ylätunniste",
        "fr": "En-tête",
        "hi": "हैडर",
        "it": "Header",
        "ja": "ヘッダー",
        "ko": "머리글",
        "nb": "Header",
        "nl": "Koptekst",
        "pt-BR": "Cabeçalho",
        "pt-PT": "Cabeçalho",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "zh-CN": "标头",
        "zh-TW": "標頭"
      },
      "default": {
        "da": "<p>Overskrift</p>",
        "de": "<p>Titel</p>",
        "en": "<p>Subheader</p>",
        "es": "<p>Subtítulo</p>",
        "fi": "<p>Ylätunniste</p>",
        "fr": "<p>En-tête</p>",
        "hi": "<p>हैडर</p>",
        "it": "<p>Header</p>",
        "ja": "<p>ヘッダー</p>",
        "ko": "<p>머리글</p>",
        "nb": "<p>Header</p>",
        "nl": "<p>Koptekst</p>",
        "pt-BR": "<p>Cabeçalho</p>",
        "pt-PT": "<p>Cabeçalho</p>",
        "sv": "<p>Rubrik</p>",
        "th": "<p>ส่วนหัว</p>",
        "zh-CN": "<p>标头</p>",
        "zh-TW": "<p>標頭</p>"
      }
    }
  ]
}
{% endschema %}
